# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
*.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/

# Android
android/.gradle/
android/captures/
android/local.properties
android/GeneratedPluginRegistrant.java

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# Environment
.env
*.env.local

# Misc
*.log
coverage/
